<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Modern Clinic Web App">
    <meta name="author" content="Krzysztof Zygmunt">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon.png">
    <title>@ViewData["Title"] - Medika Clinic</title>
    <!-- This is for the animation CSS -->
    <link href="~/lib/aos/dist/aos.css" rel="stylesheet">
    <!-- Slider Main CSS -->
    <link href="~/lib/owl.carousel/dist/assets/owl.theme.green.css" rel="stylesheet">
    <link href="~/lib/datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Common style CSS -->
    <link href="~/css/style.min.css" rel="stylesheet">
</head>

<body>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Top header -->
        <!-- ============================================================== -->
        <div class="topbar">
            <div class="header15 po-relative">
                <!-- Infobar -->
                <div class="h15-infobar">
                    <div class="container">
                        <nav class="navbar navbar-expand-lg h15-info-bar">
                            <!-- Logo -->
                            <a href="index.html" class="navbar-brand">
                                <img src="~/img/logo.jpg" alt="Medika" />
                            </a>
                            <!-- Button to show address in the mobile version -->
                            <button class="navbar-toggler shadow-none"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#h15-info"
                                    aria-controls="h15-info"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="sl-icon-options-vertical"></span>
                            </button>
                            <!-- Address and phone section -->
                            <div class="collapse navbar-collapse" id="h15-info">
                                <ul class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <div class="display-6 m-r-10">
                                                <i class="icon-Location-2"></i>
                                            </div>
                                            <div>
                                                <small>
                                                    121 King Street, Melbourne <br />Victoria 3000
                                                    Australia
                                                </small>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <div class="display-6 m-r-10">
                                                <i class="icon-Phone-2"></i>
                                            </div>
                                            <div>
                                                <small>GET APPOINTMENT</small>
                                                <h5 class="fw-bold">703 (123) 4567</h5>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Navbar -->
                <div class="h15-navbar pb-2 pb-md-0">
                    <div class="container">
                        <nav class="navbar navbar-expand-lg h15-nav">
                            <h6 class="d-block d-lg-none mb-0 fw-medium">Navigation</h6>
                            <!-- Button to show menu in the mobile version -->
                            <button class="navbar-toggler shadow-none"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#header15"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="ti-menu"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="header15">
                                <!-- Top menu -->
                                @await Html.PartialAsync("Partial/TopMenu",(IEnumerable<Clinic.Database.Data.Page>)ViewBag.ModelMenu)
                                <!-- Book an Appointment -->
                                <ul class="navbar-nav ms-auto">
                                    <li class="nav-item search">
                                        <a class="nav-link"
                                           href="javascript:void(0)"
                                           data-bs-toggle="modal"
                                           data-bs-target="#exampleModal">
                                            <i class="fa fa-calendar m-r-10"></i> Book an
                                            Appointment
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- Top header - Appointment form -->
        <!-- ============================================================== -->
        <div class="modal fade" id="exampleModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Book an Appointment</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body overflow-hidden p-0" id="yt-player">
                        <form class="bg-white appointment-form">
                            <div class="form-row border-bottom d-flex">
                                <div class="p-30 left b-r w-50">
                                    <label class="text-inverse text-uppercase">First Name</label>
                                    <input type="text"
                                           class="border-0 p-0 fs-3 form-control"
                                           placeholder="Your First Name" />
                                </div>
                                <div class="p-30 right w-50">
                                    <label class="text-inverse text-uppercase">Last Name</label>
                                    <input type="text"
                                           class="border-0 p-0 fs-3 form-control"
                                           placeholder="Your Last Name" />
                                </div>
                            </div>
                            <div class="form-row border-bottom p-30">
                                <label class="text-inverse text-uppercase">Email Address</label>
                                <input type="text"
                                       class="border-0 p-0 fs-3 form-control"
                                       placeholder="Enter your Email Address" />
                            </div>
                            <div class="form-row border-bottom p-30">
                                <label class="text-inverse text-uppercase">Phone Number</label>
                                <input type="text"
                                       class="border-0 p-0 fs-3 form-control"
                                       placeholder="Enter your Phone Number" />
                            </div>
                            <div class="form-row border-bottom p-30 po-relative">
                                <label class="text-inverse text-uppercase">Booking Date</label>
                                <div class="input-group date">
                                    <input type="text"
                                           class="border-0 p-0 fs-3 form-control"
                                           id="datepicker"
                                           placeholder="Select the Appointment Date" />
                                    <label class="input-group-addon" for="datepicker">
                                        <i class="fa fa-calendar"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="form-row border-bottom p-30">
                                <label class="text-inverse text-uppercase">Message</label>
                                <textarea class="border-0 fw-light p-0 fs-3 form-control" placeholder="Write Down the Message"></textarea>
                            </div>
                            <div>
                                <button class=" m-0 w-100 border-0 p-t-30 p-b-30 fs-3 fw-semibold bg-info btn btn-block btn-arrow text-center text-white text-uppercase ">
                                    <span>
                                        Book Yor Appointment Now <i class="ti-arrow-right"></i>
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
                @RenderBody()

            <!-- ============================================================== -->
            <!-- Back to top -->
            <!-- ============================================================== -->
            <a class="bt-top btn btn-circle btn-lg btn-info" href="#top">
                <i class="ti-arrow-up"></i>
            </a>
        </div>

        <!-- ============================================================== -->
        <!-- Footer -->
        <!-- ============================================================== -->
        <div class="footer2 fs-3 bg-dark">
            <div class="f2-middle">
                <div class="container">
                    <div class="row">
                        <!-- Column -->
                        <div class="col-lg-4 col-md-6">
                            <p class="p-t-10">
                                Nullam erat ametam arcu lorme pharetra id risus act sectetur
                                ipsum luctus est ullam erat ametam arcu lorme pharetra id us
                                act sectetur ipsum luctus est.
                            </p>
                            <p>
                                Vestibulum in accumsa maga eds maurise elit tincidunt turpis
                                id semper.
                            </p>
                            <div class="m-t-20 m-b-30">
                                <a href="#" class="link"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="link"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="link"><i class="fa fa-linkedin"></i></a>
                                <a href="#" class="link"><i class="fa fa-pinterest"></i></a>
                                <a href="#" class="link"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        <!-- Column -->
                        <!-- Bottom menu -->
                        @await Html.PartialAsync("Partial/BottomMenu",(IEnumerable<Clinic.Database.Data.Page>)ViewBag.ModelMenu)
                        <!-- Column -->
                        <!-- Column -->
                        <div class="col-lg-3 col-md-6 info-box">
                            <div class="d-flex no-block">
                                <div class="display-7 m-r-20 align-self-top">
                                    <i class="icon-Location-2"></i>
                                </div>
                                <div class="info">
                                    <p>
                                        134, Cornish Building, Some <br />
                                        Near by area, New York, <br />
                                        USA - 34556
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex no-block">
                                <div class="display-7 m-r-20 align-self-top">
                                    <i class="icon-Over-Time"></i>
                                </div>
                                <div class="info">
                                    <span class="fw-medium db m-t-5">8.00 AM - 6:00PM</span>
                                </div>
                            </div>
                            <div class="d-flex no-block">
                                <div class="display-7 m-r-20 align-self-top">
                                    <i class="icon-Phone-2"></i>
                                </div>
                                <div class="info">
                                    <span class="fw-medium db m-t-5">1 (888) 123 4567</span>
                                </div>
                            </div>
                            <div class="d-flex no-block">
                                <div class="display-7 m-r-20 align-self-top">
                                    <i class="icon-Mail"></i>
                                </div>
                                <div class="info">
                                    <a href="#" class="fw-medium link db py-1">info@Medika.com</a>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <!-- Column -->
                        <div class="col-lg-3 col-md-6">
                            <div class="subscribe-box">
                                <div class="display-4 text-white">
                                    <i class="icon-Mail-3"></i>
                                </div>
                                <p>
                                    Nullam erat ametam arcuing lorme pharetra id risus act
                                    sectetur ipsum luctus est.
                                </p>
                                <form>
                                    <div class="m-b-20">
                                        <input class="form-control shadow-none"
                                               placeholder="enter email" />
                                    </div>
                                    <button class="btn btn-info">Join Us</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- This is for the animation -->
    <script src="~/lib/aos/dist/aos.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/custom.min.js"></script>

    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <script src="~/lib/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>