@model Clinic.Entities.Models.Page

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Page</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PageId" />
            <div class="form-group">
                <label asp-for="PageAnchorText" class="control-label"></label>
                <input asp-for="PageAnchorText" class="form-control" />
                <span asp-validation-for="PageAnchorText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageLink" class="control-label"></label>
                <input asp-for="PageLink" class="form-control" />
                <span asp-validation-for="PageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageLinkPosition" class="control-label"></label>
                <input asp-for="PageLinkPosition" class="form-control" />
                <span asp-validation-for="PageLinkPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhoAdded" class="control-label"></label>
                <input asp-for="WhoAdded" class="form-control" />
                <span asp-validation-for="WhoAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhenAdded" class="control-label"></label>
                <input asp-for="WhenAdded" class="form-control" />
                <span asp-validation-for="WhenAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhoModified" class="control-label"></label>
                <input asp-for="WhoModified" class="form-control" />
                <span asp-validation-for="WhoModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhenModified" class="control-label"></label>
                <input asp-for="WhenModified" class="form-control" />
                <span asp-validation-for="WhenModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhoRemoved" class="control-label"></label>
                <input asp-for="WhoRemoved" class="form-control" />
                <span asp-validation-for="WhoRemoved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhenRemoved" class="control-label"></label>
                <input asp-for="WhenRemoved" class="form-control" />
                <span asp-validation-for="WhenRemoved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
