@{
    ViewData["Title"] = "Doctors";
}

<!-- ============================================================== -->
<!-- Breadcrumb -->
<!-- ============================================================== -->
<div class="banner-innerpage" style="background-image: url(../img/banner-bg5.jpg)">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <!-- Column -->
            <div class="col-12 align-self-center aos-init aos-animate"
                 data-aos="fade-down"
                 data-aos-duration="1200">
                <h1 class="title text-capitalize mb-1">Doctors</h1>
                <ol class="breadcrumb bg-transparent px-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Doctors</li>
                </ol>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- Container fluid -->
<!-- ============================================================== -->
<div class="container-fluid">
    <div class="spacer">
        <!-- General Health Care -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-9 text-center">
                    <h2 class="title">Our doctros</h2>
                    <h6 class="subtitle">
                        You can relay on our amazing features list and also our
                        customer services will be great experience for you without
                        doubt and in no-time
                    </h6>
                </div>
            </div>
        </div>
        <div class="container">
            @await Html.PartialAsync("Partial/DoctorsPartial",(IEnumerable<Clinic.Entities.Models.Doctor>)ViewBag.ModelDoctor)
        </div>
    </div>
</div>