@model Clinic.Entities.Models.Doctor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageSmall" class="control-label"></label>
                <input asp-for="ImageSmall" class="form-control" />
                <span asp-validation-for="ImageSmall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialty" class="control-label"></label>
                <input asp-for="Specialty" class="form-control" />
                <span asp-validation-for="Specialty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience" class="control-label"></label>
                <input asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Education" class="control-label"></label>
                <input asp-for="Education" class="form-control" />
                <span asp-validation-for="Education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certifications" class="control-label"></label>
                <input asp-for="Certifications" class="form-control" />
                <span asp-validation-for="Certifications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortPresentation" class="control-label"></label>
                <input asp-for="ShortPresentation" class="form-control" />
                <span asp-validation-for="ShortPresentation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biography" class="control-label"></label>
                <input asp-for="Biography" class="form-control" />
                <span asp-validation-for="Biography" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsHomePage" class="control-label"></label>
                <input asp-for="IsHomePage" class="form-control" />
                <span asp-validation-for="IsHomePage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhoModified" class="control-label"></label>
                <input asp-for="WhoModified" class="form-control" />
                <span asp-validation-for="WhoModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhenModified" class="control-label"></label>
                <input asp-for="WhenModified" class="form-control" />
                <span asp-validation-for="WhenModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhoRemoved" class="control-label"></label>
                <input asp-for="WhoRemoved" class="form-control" />
                <span asp-validation-for="WhoRemoved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhenRemoved" class="control-label"></label>
                <input asp-for="WhenRemoved" class="form-control" />
                <span asp-validation-for="WhenRemoved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
