<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/" aria-expanded="false">
                        <i class="mdi mdi-home"></i><span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/Parameters" aria-expanded="false">
                        <i class="mdi mdi-server"></i><span class="hide-menu">Parameters</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/Pages" aria-expanded="false">
                        <i class="mdi mdi-book-multiple"></i><span class="hide-menu">Pages</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/Doctors" aria-expanded="false">
                        <i class="mdi mdi-account-box"></i><span class="hide-menu">Doctors</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/Services" aria-expanded="false">
                        <i class="mdi mdi-checkbox-multiple-marked"></i><span class="hide-menu">Services</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/Departments" aria-expanded="false">
                        <i class="mdi mdi-calendar-multiple-check"></i><span class="hide-menu">Departments</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>