@{
    ViewData["Title"] = "Services";
}

<!-- ============================================================== -->
<!-- Breadcrumb -->
<!-- ============================================================== -->
<div class="banner-innerpage" style="background-image: url(../img/banner-bg5.jpg)">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <!-- Column -->
            <div class="col-12 align-self-center aos-init aos-animate"
                 data-aos="fade-down"
                 data-aos-duration="1200">
                <h1 class="title text-capitalize mb-1">Services</h1>
                <ol class="breadcrumb bg-transparent px-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Services</li>
                </ol>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- Container fluid -->
<!-- ============================================================== -->
<div class="container-fluid">
    <div class="bg-light spacer feature5">
        <div class="container">
            <!-- Row  -->
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-9 text-center">
                    <h2 class="title">Medika Services</h2>
                    <h6 class="subtitle">
                        You can relay on our amazing features list and also our
                        customer services will be great experience for you without
                        doubt and in no-time
                    </h6>
                </div>
            </div>
            <!-- Row  -->
            <div class="row wrap-feature-18">
                <!-- Column  -->
                <div class="col-lg-6"
                     data-aos="fade-right"
                     data-aos-duration="1200">
                    <!-- card  -->
                    <div class="card">
                        <div class="row">
                            <div class="col-md-5 icon-position"
                                 style="background-image: url(../img/services/img1.jpg)">
                                <div class="
                            icon-round
                            bg-info
                            text-white
                            display-6
                            d-none d-md-block
                          ">
                                    <i class="icon-Tooth"></i>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body p-40">
                                    <h5 class="fw-medium">
                                        Dental Care with Easy Treatments
                                    </h5>
                                    <p class="m-t-20">
                                        You can relay on our amazing features list and also
                                        our customer services will be great experience.
                                    </p>
                                    <a href="./single-services.html"
                                       class="linking text-underline fw-medium">
                                        Lets Talk <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column  -->
                <!-- Column  -->
                <div class="col-lg-6"
                     data-aos="fade-left"
                     data-aos-duration="1200">
                    <!-- card  -->
                    <div class="card">
                        <div class="row">
                            <div class="col-md-5 icon-position"
                                 style="background-image: url(../img/services/img2.jpg)">
                                <div class="
                            icon-round
                            bg-info
                            text-white
                            display-6
                            d-none d-md-block
                          ">
                                    <i class="icon-Cardiovascular"></i>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body p-40">
                                    <h5 class="fw-medium">
                                        We are Heart Specialist and Surgeon
                                    </h5>
                                    <p class="m-t-20">
                                        You can relay on our amazing features list and also
                                        our customer services will be great experience.
                                    </p>
                                    <a href="./single-services.html"
                                       class="linking text-underline fw-medium">
                                        Lets Talk <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column  -->
                <!-- Column  -->
                <div class="col-lg-6"
                     data-aos="fade-up"
                     data-aos-duration="1200">
                    <!-- card  -->
                    <div class="card">
                        <div class="row">
                            <div class="col-md-5 icon-position"
                                 style="background-image: url(../img/services/img3.jpg)">
                                <div class="
                            icon-round
                            bg-info
                            text-white
                            display-6
                            d-none d-md-block
                          ">
                                    <i class="icon-Brain-2"></i>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body p-40">
                                    <h5 class="fw-medium">
                                        We have Department for Research
                                    </h5>
                                    <p class="m-t-20">
                                        You can relay on our amazing features list and also
                                        our customer services will be great experience.
                                    </p>
                                    <a href="./single-services.html"
                                       class="linking text-underline fw-medium">
                                        Lets Talk <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column  -->
                <!-- Column  -->
                <div class="col-lg-6"
                     data-aos="fade-up"
                     data-aos-duration="1200">
                    <!-- card  -->
                    <div class="card">
                        <div class="row">
                            <div class="col-md-5 icon-position"
                                 style="background-image: url(../img/services/img4.jpg)">
                                <div class="
                            icon-round
                            bg-info
                            text-white
                            display-6
                            d-none d-md-block
                          ">
                                    <i class="icon-Hospital"></i>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body p-40">
                                    <h5 class="fw-medium">
                                        Child Care Department for Everyone
                                    </h5>
                                    <p class="m-t-20">
                                        You can relay on our amazing features list and also
                                        our customer services will be great experience.
                                    </p>
                                    <a href="./single-services.html"
                                       class="linking text-underline fw-medium">
                                        Lets Talk <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column  -->
            </div>
        </div>
    </div>
    <!-- tabs -->
</div>