@{
    ViewData["Title"] = "Home Page";
}

<!-- ============================================================== -->
<!-- Static Zoom Slider -->
<!-- ============================================================== -->
<section id="slider-sec" class="slider7">
    <div id="slider7" class="owl-carousel owl-theme slider7 carousel">
        <div class="item overflow-hidden">
            <!-- Slide Background --><img src="~/img/slide2.jpg"
                                          alt="We are Digital Agency"
                                          class="slide-image" />
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_left">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-md-8 col-lg-5"
                             data-animation="animated slideInDown">
                            <div class="bg-white text-center slide-content po-relative">
                                <label class="
                              label
                              text-white
                              fs-3
                              m-0
                              label-rounded
                              bg-success
                            ">Healthcare</label>
                                <h2 data-animation="animated flipInX"
                                    class="title m-border-0">
                                    Get Well Soon
                                </h2>
                                <p data-animation="animated fadeInLeft"
                                   class="m-t-30">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Mauris hendrerit fringilla ligula, nec congue
                                    leo pharetra in.
                                </p>
                                <a href="#" class="bg-info text-left text-white">
                                    <i class="icon icon-Right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Slide -->
        <!-- Second Slide -->
        <div class="item overflow-hidden">
            <!-- Slide Background --><img src="~/img/slide1.jpg"
                                          alt="Building Magical Apps"
                                          class="slide-image w-100" />
            <!-- Slide Text Layer -->
            <div class="slide-text">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-lg-5">
                            <div class="bg-white text-center slide-content po-relative">
                                <label class="
                              label
                              text-white
                              fs-3
                              m-0
                              label-rounded
                              bg-success
                            ">Healthcare</label>
                                <h2 data-animation="animated flipInX"
                                    class="title m-border-0">
                                    Get Well Soon
                                </h2>
                                <p data-animation="animated fadeInLeft"
                                   class="m-t-30">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Mauris hendrerit fringilla ligula, nec congue
                                    leo pharetra in.
                                </p>
                                <a href="#" class="bg-info text-left text-white">
                                    <i class="icon icon-Right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider -->
</section>

<!-- ============================================================== -->
<!-- Doctors -->
<!-- ============================================================== -->
<div class="spacer feature14">
    <div class="container">
        <!-- row  -->
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-9 text-center">
                <h2 class="title">Experienced Team of Doctors</h2>
                <h6 class="subtitle">
                    You can relay on our amazing features list and also our
                    customer services will be great experience for you without
                    doubt and in no-time
                </h6>
            </div>
        </div>
        <!-- row  -->
        <div class="row m-t-40 p-t-20">
            @await Html.PartialAsync("Partial/DoctorsPartial",(IEnumerable<Clinic.Models.Doctor>)ViewBag.ModelDoctor)
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- Services -->
<!-- ============================================================== -->
<div class="bg-light spacer feature41">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-9 text-center">
                <h2 class="title">Less Invasive. Best Outcomes.</h2>
                <h6 class="subtitle">
                    You can relay on our amazing features list and also our
                    customer services will be great experience for you without
                    doubt and in no-time
                </h6>
            </div>
        </div>
        <!-- Row  -->
        <div class="row m-t-40 wrap-feature41-box">
            <!-- Column -->
            <div class="col-lg-4 col-md-5">
                <ul class="nav vtab f41-tab">
                    <li class="nav-item">
                        <a class="nav-link active"
                           id="home-tab"
                           data-bs-toggle="tab"
                           href="#home"
                           aria-controls="home">
                            <div class="display-5 t-icon">
                                <i class="icon-Tooth"></i>
                            </div>
                            <div>
                                <h5 class="m-border-0">Dental Care</h5>
                                <h6 class="subtitle">
                                    You can relay on our amazing features list.
                                </h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="profile-tab"
                           data-bs-toggle="tab"
                           href="#profile"
                           aria-controls="profile">
                            <div class="display-5 t-icon">
                                <i class="icon-Cardiovascular"></i>
                            </div>
                            <div>
                                <h5 class="m-border-0">Heart Surgery</h5>
                                <h6 class="subtitle">
                                    You can relay on our amazing features list.
                                </h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="dropdown1-tab"
                           data-bs-toggle="tab"
                           href="#dropdown1"
                           aria-controls="dropdown1">
                            <div class="display-5 t-icon">
                                <i class="icon-Brain-2"></i>
                            </div>
                            <div>
                                <h5 class="m-border-0">Nurology</h5>
                                <h6 class="subtitle">
                                    You can relay on our amazing features list.
                                </h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="ssd-tab"
                           data-bs-toggle="tab"
                           href="#ssd"
                           aria-controls="ssd">
                            <div class="display-5 t-icon">
                                <i class="icon-First-Aid"></i>
                            </div>
                            <div>
                                <h5 class="m-border-0">General Treatment</h5>
                                <h6 class="subtitle">
                                    You can relay on our amazing features list.
                                </h6>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-7 ms-auto">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active"
                         id="home"
                         role="tabpanel"
                         aria-labelledby="home-tab">
                        <img src="~/img/services/d1.jpg"
                             alt="Medika"
                             class="rounded img-fluid" />
                        <p class="m-t-40">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing
                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                            dolore magna aliquam erat volutpat.
                        </p>
                        <a class="btn btn-info shadow-none btn-md btn-arrow m-t-20"
                           href="./single-services.html">
                            <span>Learn more <i class="ti-arrow-right"></i></span>
                        </a>
                    </div>
                    <div class="tab-pane fade"
                         id="profile"
                         role="tabpanel"
                         aria-labelledby="profile-tab">
                        <img src="~/img/services/d2.jpg"
                             alt="Medika"
                             class="rounded img-fluid" />
                        <p class="m-t-40">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing
                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                            dolore magna aliquam erat volutpat.
                        </p>
                        <a class="btn btn-info shadow-none btn-md btn-arrow m-t-20"
                           href="./single-services.html">
                            <span>Learn more <i class="ti-arrow-right"></i></span>
                        </a>
                    </div>
                    <div class="tab-pane fade"
                         id="dropdown1"
                         role="tabpanel"
                         aria-labelledby="dropdown1-tab">
                        <img src="~/img/services/d1.jpg"
                             alt="Medika"
                             class="rounded img-fluid" />
                        <p class="m-t-40">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing
                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                            dolore magna aliquam erat volutpat.
                        </p>
                        <a class="btn btn-info shadow-none btn-md btn-arrow m-t-20"
                           href="./single-services.html">
                            <span>Learn more <i class="ti-arrow-right"></i></span>
                        </a>
                    </div>
                    <div class="tab-pane fade"
                         id="ssd"
                         role="tabpanel"
                         aria-labelledby="ssd-tab">
                        <img src="~/img/services/d2.jpg"
                             alt="Medika"
                             class="rounded img-fluid" />
                        <p class="m-t-40">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing
                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                            dolore magna aliquam erat volutpat.
                        </p>
                        <a class="btn btn-info shadow-none btn-md btn-arrow m-t-20"
                           href="./single-services.html">
                            <span>Learn more <i class="ti-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- Testimonial -->
<!-- ============================================================== -->
<div class="testimonial2 spacer">
    <div class="container">
        <div class="heading"></div>
        <div class="owl-carousel owl-theme testi2 m-t-40">
            <div class="item">
                <div class="row po-relative">
                    <div class="
                        col-lg-6 col-md-6
                        align-self-center
                        order-2 order-md-1
                      "
                         data-aos="fade-right"
                         data-aos-duration="1200">
                        <div class="d-none d-md-block">
                            <button class="btn btn-circle btn-info btn-md">
                                <i class="fa fa-quote-left"></i>
                            </button>
                            <h3 class="m-t-20 m-b-20">Customer Reviews</h3>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat.
                        </p>
                        <h5 class="m-t-30">Simon Duo</h5>
                        <h6 class="subtitle">Partner, Brevin</h6>
                    </div>
                    <div class="d-block d-md-none">
                        <button class="btn btn-circle btn-info btn-md">
                            <i class="fa fa-quote-left"></i>
                        </button>
                        <h3 class="m-t-20 mborder-0">Customer Reviews</h3>
                    </div>
                    <div class="col-lg-6 col-md-6 image-thumb order-1 order-md-1"
                         data-aos="fade-left"
                         data-aos-duration="1200">
                        <img src="~/img/1.jpg"
                             alt="medika"
                             class="rounded-circle img-fluid" />
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row po-relative">
                    <div class="
                        col-lg-6 col-md-6
                        align-self-center
                        order-2 order-md-1
                      "
                         data-aos="fade-right"
                         data-aos-duration="1200">
                        <div class="d-none d-md-block">
                            <button class="btn btn-circle btn-info btn-md">
                                <i class="fa fa-quote-left"></i>
                            </button>
                            <h3 class="m-t-20 m-b-20">Customer Reviews</h3>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat.
                        </p>
                        <h5 class="m-t-30">Simon Duo</h5>
                        <h6 class="subtitle">Partner, Brevin</h6>
                    </div>
                    <div class="d-block d-md-none">
                        <button class="btn btn-circle btn-info btn-md">
                            <i class="fa fa-quote-left"></i>
                        </button>
                        <h3 class="m-t-20 mborder-0">Customer Reviews</h3>
                    </div>
                    <div class="col-lg-6 col-md-6 image-thumb order-1 order-md-1"
                         data-aos="fade-left"
                         data-aos-duration="1200">
                        <img src="~/img/2.jpg"
                             alt="medika"
                             class="rounded-circle img-fluid" />
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row po-relative">
                    <div class="
                        col-lg-6 col-md-6
                        align-self-center
                        order-2 order-md-1
                      "
                         data-aos="fade-right"
                         data-aos-duration="1200">
                        <div class="d-none d-md-block">
                            <button class="btn btn-circle btn-info btn-md">
                                <i class="fa fa-quote-left"></i>
                            </button>
                            <h3 class="m-t-20 m-b-20">Customer Reviews</h3>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat.
                        </p>
                        <h5 class="m-t-30">Simon Duo</h5>
                        <h6 class="subtitle">Partner, Brevin</h6>
                    </div>
                    <div class="d-block d-md-none">
                        <button class="btn btn-circle btn-info btn-md">
                            <i class="fa fa-quote-left"></i>
                        </button>
                        <h3 class="m-t-20 mborder-0">Customer Reviews</h3>
                    </div>
                    <div class="col-lg-6 col-md-6 image-thumb order-1 order-md-1"
                         data-aos="fade-left"
                         data-aos-duration="1200">
                        <img src="~/img/3.jpg"
                             alt="medika"
                             class="rounded-circle img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
