html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.table-actions {
    width: 77px;
}

.table-admin td, .table-admin th {
    border: 1px solid lightgray !important;
}

.table-admin th {
    color: white !important;
    background-color: gray;
}

.bg-card {
    background-color: #7266C3;
}

.center-content {
    justify-content: center;
}

.align-center{
    text-align:center;
}

.dashboard-margin{
    margin-bottom: 20px;
}

.font-32 {
    font-size: 32px;
}
