@{
    ViewData["Title"] = "Doctors";
}

<!-- ============================================================== -->
<!-- Breadcrumb -->
<!-- ============================================================== -->
<div class="banner-innerpage" style="background-image: url(../img/banner-bg5.jpg)">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <!-- Column -->
            <div class="col-12 align-self-center aos-init aos-animate"
                 data-aos="fade-down"
                 data-aos-duration="1200">
                <h1 class="title text-capitalize mb-1">Doctors</h1>
                <ol class="breadcrumb bg-transparent px-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Doctors</li>
                </ol>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- Container fluid -->
<!-- ============================================================== -->
<div class="container-fluid">
    <div class="spacer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-9 text-center">
                    <h2 class="title">General Health Care</h2>
                    <h6 class="subtitle">
                        You can relay on our amazing features list and also our
                        customer services will be great experience for you without
                        doubt and in no-time
                    </h6>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row m-t-30">
                <div class="col-lg-6 col-md-12">
                    <div class="card card-shadow team1">
                        <div class="card-body py-0">
                            <!-- Row -->
                            <div class="row">
                                <div class="col-md-5 pro-pic po-relative"
                                     style="
                            background: url(../img/doctors/t1.jpg) center center;
                          ">
                                    <div class="card-img-overlay">
                                        <div class="
                                d-flex
                                no-block
                                align-items-center
                                justify-content-center
                                h-100
                              ">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 bg-white">
                                    <div class="p-30">
                                        <h5 class="fw-medium m-border-0">
                                            Dr. Micheal Anderson
                                        </h5>
                                        <h6 class="subtitle">Heart Sergeon</h6>
                                        <p>
                                            You can relay on our amazing features list and
                                            also our customer services will be great
                                            experience.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card card-shadow team1">
                        <div class="card-body py-0">
                            <!-- Row -->
                            <div class="row card-shadow">
                                <div class="col-md-5 pro-pic po-relative"
                                     style="
                            background: url(../img/doctors/t2.jpg) center center;
                          ">
                                    <div class="card-img-overlay">
                                        <div class="
                                d-flex
                                no-block
                                align-items-center
                                justify-content-center
                                h-100
                              ">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 bg-white">
                                    <div class="p-30">
                                        <h5 class="fw-medium m-border-0">
                                            Dr. Julia D’Souza
                                        </h5>
                                        <h6 class="subtitle">Family Physician</h6>
                                        <p>
                                            You can relay on our amazing features list and
                                            also our customer services will be great
                                            experience.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card card-shadow team1">
                        <div class="card-body py-0">
                            <!-- Row -->
                            <div class="row no-gutters card-shadow">
                                <div class="col-md-5 pro-pic po-relative"
                                     style="
                            background: url(../img/doctors/t3.jpg) center center;
                          ">
                                    <div class="card-img-overlay">
                                        <div class="
                                d-flex
                                no-block
                                align-items-center
                                justify-content-center
                                h-100
                              ">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 bg-white">
                                    <div class="p-30">
                                        <h5 class="fw-medium m-border-0">Dr. Megan Doe</h5>
                                        <h6 class="subtitle">Cancer Care Specialist</h6>
                                        <p>
                                            You can relay on our amazing features list and
                                            also our customer services will be great
                                            experience.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card card-shadow team1">
                        <div class="card-body py-0">
                            <!-- Row -->
                            <div class="row no-gutters card-shadow">
                                <div class="col-md-5 pro-pic po-relative"
                                     style="
                            background: url(../img/doctors/t4.jpg) center center;
                          ">
                                    <div class="card-img-overlay">
                                        <div class="
                                d-flex
                                no-block
                                align-items-center
                                justify-content-center
                                h-100
                              ">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 bg-white">
                                    <div class="p-30">
                                        <h5 class="fw-medium m-border-0">
                                            Dr. Johnathan Birt
                                        </h5>
                                        <h6 class="subtitle">General Care</h6>
                                        <p>
                                            You can relay on our amazing features list and
                                            also our customer services will be great
                                            experience.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="container mt-5 pt-4">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-9 text-center">
                    <h2 class="title">Rehabilitation Centre</h2>
                    <h6 class="subtitle">
                        You can relay on our amazing features list and also our
                        customer services will be great experience for you without
                        doubt and in no-time
                    </h6>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row m-t-30">
                <div class="col-lg-6 col-md-12">
                    <div class="card card-shadow team1">
                        <div class="card-body py-0">
                            <!-- Row -->
                            <div class="row">
                                <div class="col-md-5 pro-pic po-relative"
                                     style="
                            background: url(../img/doctors/t1.jpg) center center;
                          ">
                                    <div class="card-img-overlay">
                                        <div class="
                                d-flex
                                no-block
                                align-items-center
                                justify-content-center
                                h-100
                              ">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 bg-white">
                                    <div class="p-30">
                                        <h5 class="fw-medium m-border-0">
                                            Dr. Micheal Anderson
                                        </h5>
                                        <h6 class="subtitle">Heart Sergeon</h6>
                                        <p>
                                            You can relay on our amazing features list and
                                            also our customer services will be great
                                            experience.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card card-shadow team1">
                        <div class="card-body py-0">
                            <!-- Row -->
                            <div class="row card-shadow">
                                <div class="col-md-5 pro-pic po-relative"
                                     style="
                            background: url(../img/doctors/t2.jpg) center center;
                          ">
                                    <div class="card-img-overlay">
                                        <div class="
                                d-flex
                                no-block
                                align-items-center
                                justify-content-center
                                h-100
                              ">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 bg-white">
                                    <div class="p-30">
                                        <h5 class="fw-medium m-border-0">
                                            Dr. Julia D’Souza
                                        </h5>
                                        <h6 class="subtitle">Family Physician</h6>
                                        <p>
                                            You can relay on our amazing features list and
                                            also our customer services will be great
                                            experience.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card card-shadow team1">
                        <div class="card-body py-0">
                            <!-- Row -->
                            <div class="row no-gutters card-shadow">
                                <div class="col-md-5 pro-pic po-relative"
                                     style="
                            background: url(../img/doctors/t3.jpg) center center;
                          ">
                                    <div class="card-img-overlay">
                                        <div class="
                                d-flex
                                no-block
                                align-items-center
                                justify-content-center
                                h-100
                              ">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 bg-white">
                                    <div class="p-30">
                                        <h5 class="fw-medium m-border-0">Dr. Megan Doe</h5>
                                        <h6 class="subtitle">Cancer Care Specialist</h6>
                                        <p>
                                            You can relay on our amazing features list and
                                            also our customer services will be great
                                            experience.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card card-shadow team1">
                        <div class="card-body py-0">
                            <!-- Row -->
                            <div class="row no-gutters card-shadow">
                                <div class="col-md-5 pro-pic po-relative"
                                     style="
                            background: url(../img/doctors/t4.jpg) center center;
                          ">
                                    <div class="card-img-overlay">
                                        <div class="
                                d-flex
                                no-block
                                align-items-center
                                justify-content-center
                                h-100
                              ">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 bg-white">
                                    <div class="p-30">
                                        <h5 class="fw-medium m-border-0">
                                            Dr. Johnathan Birt
                                        </h5>
                                        <h6 class="subtitle">General Care</h6>
                                        <p>
                                            You can relay on our amazing features list and
                                            also our customer services will be great
                                            experience.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 3 -->
        <div class="container mt-5 pt-4">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-9 text-center">
                    <h2 class="title">Nurology</h2>
                    <h6 class="subtitle">
                        You can relay on our amazing features list and also our
                        customer services will be great experience for you without
                        doubt and in no-time
                    </h6>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row m-t-30">
                <div class="col-lg-6 col-md-12">
                    <div class="card card-shadow team1">
                        <div class="card-body py-0">
                            <!-- Row -->
                            <div class="row">
                                <div class="col-md-5 pro-pic po-relative"
                                     style="
                            background: url(../img/doctors/t1.jpg) center center;
                          ">
                                    <div class="card-img-overlay">
                                        <div class="
                                d-flex
                                no-block
                                align-items-center
                                justify-content-center
                                h-100
                              ">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 bg-white">
                                    <div class="p-30">
                                        <h5 class="fw-medium m-border-0">
                                            Dr. Micheal Anderson
                                        </h5>
                                        <h6 class="subtitle">Heart Sergeon</h6>
                                        <p>
                                            You can relay on our amazing features list and
                                            also our customer services will be great
                                            experience.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card card-shadow team1">
                        <div class="card-body py-0">
                            <!-- Row -->
                            <div class="row card-shadow">
                                <div class="col-md-5 pro-pic po-relative"
                                     style="
                            background: url(../img/doctors/t2.jpg) center center;
                          ">
                                    <div class="card-img-overlay">
                                        <div class="
                                d-flex
                                no-block
                                align-items-center
                                justify-content-center
                                h-100
                              ">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 bg-white">
                                    <div class="p-30">
                                        <h5 class="fw-medium m-border-0">
                                            Dr. Julia D’Souza
                                        </h5>
                                        <h6 class="subtitle">Family Physician</h6>
                                        <p>
                                            You can relay on our amazing features list and
                                            also our customer services will be great
                                            experience.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card card-shadow team1">
                        <div class="card-body py-0">
                            <!-- Row -->
                            <div class="row no-gutters card-shadow">
                                <div class="col-md-5 pro-pic po-relative"
                                     style="
                            background: url(../img/doctors/t3.jpg) center center;
                          ">
                                    <div class="card-img-overlay">
                                        <div class="
                                d-flex
                                no-block
                                align-items-center
                                justify-content-center
                                h-100
                              ">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 bg-white">
                                    <div class="p-30">
                                        <h5 class="fw-medium m-border-0">Dr. Megan Doe</h5>
                                        <h6 class="subtitle">Cancer Care Specialist</h6>
                                        <p>
                                            You can relay on our amazing features list and
                                            also our customer services will be great
                                            experience.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card card-shadow team1">
                        <div class="card-body py-0">
                            <!-- Row -->
                            <div class="row no-gutters card-shadow">
                                <div class="col-md-5 pro-pic po-relative"
                                     style="
                            background: url(../img/doctors/t4.jpg) center center;
                          ">
                                    <div class="card-img-overlay">
                                        <div class="
                                d-flex
                                no-block
                                align-items-center
                                justify-content-center
                                h-100
                              ">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 bg-white">
                                    <div class="p-30">
                                        <h5 class="fw-medium m-border-0">
                                            Dr. Johnathan Birt
                                        </h5>
                                        <h6 class="subtitle">General Care</h6>
                                        <p>
                                            You can relay on our amazing features list and
                                            also our customer services will be great
                                            experience.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>